<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			{% for post in site.posts limit:2 %}
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h2 class="h2 entry-title">{{ post.title }}</h2>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>
			<div class="bd">
				<div class="entry-content">
					{% if post.content contains '<!--moar-->' %}
				    	{{ post.content | split:'<!--moar-->' | first }} <p><a style href="{{ post.url }}">Read More...</a></p>
					{% else %}
					    {{ post.content }}
					{% endif %}
					<div class="meta">
						<p class="date-publish">
							Published: 
							<date class="date-pub" title="{{ post.date | date_to_xmlschema }}" datetime="{{ post.date | date_to_xmlschema }}" pubdate>
							<span class="month"><abbr>{{ post.date | date: '%B' }}</abbr></span>
							<span class="day">{{ post.date | date: '%d' }}</span>
							<span class="year">{{ post.date | date: '%Y' }}</span>
							</date>
						</p>
						<ul class="list-category list-linear">
							<li class="list-head">category: </li>
							{% assign categories_list = post.categories %}
							{% include JB/categories_list %}
						</ul>
						<ul class="list-tag list-linear">
							<li class="list-head">tags: </li>
							{% assign tags_list = post.tags %}
							{% include JB/tags_list %}
						</ul>
					</div><!-- meta -->
				</div><!-- entry-content -->
			</div><!-- bd -->
			{% endfor %}
			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<nav class="pagination">
						{% if forloop.length == 2 %}
							{% if forloop.last == true %}
								<li class="backnumber"><a href="/backnumber/" class="btn" title="backnumber">Backnumber</a></li>
							{% endif %}
						{% endif %}
					</nav>
					<p class="gotop">
						<a href="#page">Back to Top</a>
					</p>
				</div>
			</footer>
		</div><!-- content -->
	</div><!-- unit-inner -->
</article>